<meta property="og:type" content="{{1}}" />
  <meta property="og:site_name" content="Saint Charbel" />
  <meta property="og:title" content="{{2}}" />
  <meta property="og:description" content="{{3}}" />
  <meta property="og:url" content="{{4}}" />
  <meta property="og:image" content="{{5}}" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="{{6}}" />
  <meta name="twitter:description" content="{{7}}" />
  <meta name="twitter:image" content="{{8}}" />
